<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="type1ToDocumentumTransformerBean" class="com.hmrc.cftf.services.documentum.Type1ToDocumentumTransformer"/>
	<bean id="type2ToDocumentumTransformerBean" class="com.hmrc.cftf.services.documentum.Type2ToDocumentumTransformer"/>
	<bean id="documentumPublisherBean" class="com.hmrc.cftf.services.documentum.DocumentumPublisherService"/>
</beans>
